.profile {
    /* background-color: rgba(255, 255, 255, 1); */
    display: flex;
    font-family: 'Inter';
    /* width: 100%; */
    width: 90%;
    /* justify-content: center; */
    justify-content: space-between;
    margin-top: 160px;
}

.up-down-list {
    /*background-color: #4B5DFF;*/
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 30px 20px;
    font-size: 15px;
    width: 246px;
}

.up-down-list p {
    text-align: center;
    height: 45px;
    width: 250px;
    border-radius: 15px;
    margin-top: 15px;
    padding: 15px 25px 15px 25px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: black;
    cursor: pointer;
}
.startBackColor{
    background-color: #F2F2F2;
}
.info {
    width: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.base-info {
    display: flex;
    width: 651px;
    flex-direction: column;
    align-items: center;
}

.verification-info {
    /*background-color: violet;*/
    /* margin-right: 100px; */
}

.basic-info {
    /*background-color: deeppink;*/
    padding: 40px 35px 60px 35px;
    margin-left: 15px;
    /*background-color: darkcyan;*/
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    margin-top: 30px;
    width: 581px;
}

.basic-info p {
    margin: 15px 30px 15px 1px;
}

.about-head {
    display: flex;
    justify-content: space-between;
}

.about-info-name,
.about-info-gender,
.about-info-birthday,
.about-info-country,
.about-info-citizenship,
.about-info-phone,
.about-info-email,
.about-info-password {
    margin: 15px 30px 15px 1px;
}

.about-info {
    display: flex;
    width: 100%;
}

.about-info-p {
    /*background-color: brown;*/
}

.about-info-generated {
    flex-direction: column;
    /*background-color: black;*/
}

.student-info {
    margin-top: 30px;
    margin-left: 15px;
    /*background-color: darkcyan;*/
    padding: 35px;
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    /*stroke: black;*/
    width: 581px;
}

.verification-info {
    padding: 35px;
    margin-top: 30px;
    margin-left: 15px;
    /*background-color: darkcyan;*/
    border-style: solid;
    border-color: #E8E8E8;
    border-width: 1px;
    width: 580px;
}

.bubbles {
    display: flex;
    height: 45px;
    width: 400px;
    justify-content: space-evenly;
    padding: 20px;
}

.verification-bubbles img {
    margin-top: 20px;
    margin-bottom: 20px;
}

.verification-bubbles-head {
    display: flex;
}

.verification-bubbles-head h2 {
    margin-top: 15px;
    margin-right: 30px;
    color: #383838;
}

.verification-introduction {
    background-color: rgba(248, 248, 248, 1);
    padding: 35px;
    border-color: rgba(232, 232, 232, 1);
    color: #383838;
    border-style: solid;
    border-width: 1px;
}

.verification-mail {
    display: flex;
    margin-top: 25px;
    margin-bottom: 30px;
}

.verification-mail-field {}

.verification-list p {
    margin-top: 10px;
}
.verification-mail-btn:hover{
    cursor: pointer;
}
.verification-mail-btn {
    width: 280px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3751FF;
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /*background: #3751FF;*/
    /* Inside auto layout */
    order: 1;
    flex-grow: 0;
    border-style: none;
}

.verification-mail-field {
    border-radius: 15px;
    text-align: center;
    width: 370px;
    height: 50px;
    border-color: rgba(224, 224, 224, 1);
    border-style: solid;
    margin-right: 15px;
    font-size: 18px;
}

.verification-mail-field p {
    padding: 6;
    display: grid;
    justify-content: space-between;
}

.about-head h4 {
    font-size: 18px;
}

.student-info h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.verification-list-first {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.threeBlock{
    width: 60%;
    margin-top: 50px;
    margin-left: 40px;
}
.threeBlock_h1{
    font-family: var(--font-averta-cy);
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 116.1%;
    margin-bottom: 25px;
}
.threeBlock_p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 202.6%;
    margin-bottom: 44px;
}
.threeBlock_p_a{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 202.6%;
    color:#2298FF ;
}
.threeBlock_h3{
    margin-bottom: 40px;
    font-family: var(--font-averta-cy);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 116.1%;
}
.threeBlock_main_block{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}
.threeBlock_hidden{
    display: none;
    width: 90%;
}
.threeBlock_hidden_p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 173.6%;
    color: #545454;
    margin-top: 25px;
    white-space: pre-line;
}
.threeBlock_pandimg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.threeBlock_blockhr{
    width: 100%;
    margin-top: 20px;
}
.threeBlock_hr{
    width: 100%;
    border: 1px solid #E4E4E4;
    margin-bottom: 35px;
}
.threeBlock_block_disp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.threeBlock_block_disp_two{
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background-image: url(../../img/MemoImg_PlasBut.svg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 1s;
}
.threeBlock_block_disp_two:hover{
    background-image: url(../../img/MemoImg_NotPlasBut.svg);
    transition: 1s;
}
.threeBlock_block_disp_two_img{
    border-radius: 100px;
}
.threeBlock_block_disp_one{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 95%;
}
.threeBlock_block_disp_one_block_p{
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #383838;
}

.profile-form{
    align-items: flex-end;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}

.save{
    margin: auto;
}
.threeBlock_hidden_p_h{
    font-size: 20px;
    color: #1f1f1f;
}
.verification-info_textOfemail{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
}
.verification-list_ul{
    padding-left: 14px;
}
.verification-list_ul_li{
    list-style:disc;
}
.Lang-standart116{
    margin-bottom: 20px;
}
.about-info-text{
    color: #676767;
}
.verification-list-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 143.6%;
    color: #383838;
}
.verification-info_textOfemail_box_p{
    color: #383838;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 196.1%;
}
.Lang-standart116{
    color: #383838;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 196.1%;
}
.verification-mail-field_copyto{
    color: #383838;
}