{% extends 'mainsite/base.html' %}
{% block content %}
{% load static %}
<body class="body">

    <div class="post">
        <div class="post-header">
            <div class="post-header-title">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="post-additional-info">
                <div class="post-additional-info-KAI">
                    <img src="{% static 'mainsite/img/Subtract_Nill_Kiggers.svg' %}" alt="">
                    <p>ИМО КНИТУ-КАИ</p>
                </div>
                <div class="post-additional-info-date">
                    {{ post.published_date }}
                </div>
            </div>
        </div>
        <div class="post-content">
            {{ post.text | safe }}
        </div>
        <div class="post-media">
            <div class="post-media-tg">
                <a href="">
                    <img src="{% static 'mainsite/img/TG.svg' %}" alt="">
                </a>
            </div>
            <div class="post-media-vk">
                <a href="">
                    <img src="{% static 'mainsite/img/VK_black.svg' %}" alt="">
                </a>
            </div>
            <div class="post-media-back">
                <a href="{% url 'news_list' %}">
                    <img src="{% static 'mainsite/img/back.svg' %}" alt="">
                </a>
            </div>
        </div>
    </div>

    <h1 class="post-last4-title">Посмотрите другие наши новости</h1>

</body>
{% endblock %}