{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>IMO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="image/png" href='{% static "mainsite/img/Icon.svg" %}' />
    <link href='{% static "mainsite/css/registration/login_base_style.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_1.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_2.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/profile/profile.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_3.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/registration/style_4.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/faq/faq.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/news/news.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/news/news_list.css" %}' rel="stylesheet">
    <link href='{% static "mainsite/css/incoming/incoming.css" %}' rel="stylesheet">
    <link href='https://fonts.google.com/specimen/Inter#standard-styles' rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href='{% static "mainsite/css/registration/preloader.css" %}' rel="stylesheet">


    <!-- <script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}"> -->
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="{% static 'mainsite/js/registration/Them.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/ChangeEay.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/mouseChange.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/translate.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/changePass.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/regesterBUT.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/phoneinput.js' %}">
    </script>
    <script src="{% static 'mainsite/js/registration/preloader.js' %}">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
    </script>
    <script src="{% static 'mainsite/js/them/them.js' %}"></script>
    <!-- Date -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr">
    </script>
    <script>
        flatpickr("#myID", {});
    </script>
</head>
<div class="preloader">
    <div class="preloader__row">
        <div class="spinner preloader__item"></div>
    </div>
</div>
<header class="header">
    <a href="{% url 'home_page' %}">
        <div class="main_icon_logo_flexbox">
            <div class="main_icon_logo">
            </div>
            <p class="main_icon_logo_text Lang-standart1">
                Институт Международного образования КАИ
            </p>
        </div>
    </a>

    <div class="menu_links_boxs">
        <div class="menu_links_box_displayWhere700px">
            <div class="menu_links_box_iconWhereDisplay700px">
                <div class="menu_links_box_iconWhereDisplay700pxImgsvg"></div>
            </div>
            <div class="menu_links_box_text700px_box">
                <p class="menu_links_box_text700px Lang-standart2">Меню</p>
            </div>
        </div>
        <div class="menu_links_boxs_links">
            <a href="{% url 'enteringimo' %}">
                <div class="menu_links_boxs_links_link">
                    <div class="menu_links_boxs_links_link_icon">
                        <div class="standartStyleForimg books"></div>
                    </div>
                    <div class="menu_links_boxs_links_link_iconText_box">
                        <p class="menu_links_boxs_links_link_iconText Lang-standart3">#поступающим</p>
                    </div>
                </div>
            </a>

            <a href="{% url 'faq' %}">
                <div class="menu_links_boxs_links_link">
                    <div class="menu_links_boxs_links_link_icon">
                        <div class="standartStyleForimg key"></div>
                    </div>
                    <div class="menu_links_boxs_links_link_iconText_box">
                        <p class="menu_links_boxs_links_link_iconText Lang-standart4">#вопрос-ответ</p>
                    </div>
                </div>
            </a>

            <a href="{% url 'news_list' %}">
                <div class="menu_links_boxs_links_link">
                    <div class="menu_links_boxs_links_link_icon">
                        <div class="standartStyleForimg gun"></div>
                    </div>
                    <div class="menu_links_boxs_links_link_iconText_box">
                        <p class="menu_links_boxs_links_link_iconText Lang-standart5">#новости</p>
                    </div>
                </div>
            </a>

            <div class="buttonsInHeader_box displayNoneWhere displayon clickOnserch">
                <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search">
                <div class="buttonsInHeader_box_search_TextBox">
                    <p class="buttonsInHeader_box_search_Text Lang-standart6">Поиск</p>
                </div>
            </div>
            <div class=""><!--buttonsInHeader_box displayNoneWhere clickOnserch-->
                <div class="form-check form-switch">
                    <input class="form-check-input cursor" type="checkbox" id="flexSwitchCheckDefault">
                </div>
            </div>
        </div>
    </div>
    <div class="buttonsInHeader">
        <div class="buttonsInHeader_box displayNoneWhere displayof clickOnserch">
            <input type="button" class="buttonsInHeader_box_search noStyelButt cursorP" id="search">
        </div>
        <div class="buttonsInHeader_box">
            <input type="button" class="buttonsInHeader_box_lang noStyelButt cursorP Lang-name" id="lang" value="Ru">
        </div>
        <div class="headerLanguage" id="hidden_block">
            <div class="russ headerLanguage_flexbox" id="Ru"
                onclick="defineLang(this,document.querySelector('.Lang-name'))">
                <div class="img_active change">
                    <img src='{% static "mainsite/img/ru.png" %}' alt="">
                </div>
                <div class="russ_txt">
                    <p class="defineText">Русский</p>
                </div>
            </div>
            <div class="eng headerLanguage_flexbox" id="Eng"
                onclick="defineLang(this,document.querySelector('.Lang-name'))">
                <div class="img_no_active change">
                    <img src='{% static "mainsite/img/eng.png" %}' alt="">
                </div>
                <div class="eng_txt">
                    <p class="defineText">English</p>
                </div>
            </div>
        </div>
        {% if request.user.is_authenticated %}
            {% if request.user.profile %}
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton"
                        onclick="location.href='/profile'">
                </div>
            {% else %}
                <div class="buttonsInHeader_box">
                    <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton"
                        onclick="location.href='/extra'">
                </div>
            {% endif %}    
        {% else %} 

        <div class="buttonsInHeader_box">
            <input type="button" class="buttonsInHeader_box_usButton noStyelButt cursorP" id="usButton"
                onclick="location.href='/signup'">
        </div>

        {% endif %}
        <!-- <div class="hideMenu_in_Proffil">
                <div class="hideMenu_in_Proffil_litleBlock">
                    <div class="hideMenu_in_Proffil_box hideMenu_in_Proffil_boxMURGBOTT">

                        <img src='{% static "mainsite/img/birdKurlik.svg" %}' alt="img" id="" class="hideMenu_in_Proffil_boxIMG ">
                        <div class="hideMenu_in_Proffil_box_INF">
                            <div class="hideMenu_in_Proffil_box_INF_p marginbottom10px">
                                <p class="hideMenu_in_Proffil_boxNAME textstule Lang-standart7" id="Name">Войдите в профиль</p>
                            </div>
                            <div class="hideMenu_in_Proffil_box_INF_p">
                                <p class="hideMenu_in_Proffil_boxEmail textstule Lang-standart8" id="Email">Чтобы пользоваться сервисом</p>
                            </div>
                        </div>
                    </div>
                    <div class="hideMenu_in_Proffil_box">
                        <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">
                            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="testhange2" fill-rule="evenodd" clip-rule="evenodd" d="M3 21.8174C1.34315 21.8174 0 20.4742 0 18.8174V8.81738C0 8.78349 0.00168633 8.74998 0.00498009 8.71695H0C0 8.14099 0.228801 7.58861 0.636071 7.18134L6.87868 0.938738C8.05025 -0.232835 9.94974 -0.232835 11.1213 0.938738L17.3639 7.18136C17.7712 7.58862 18 8.14099 18 8.71695H17.995C17.9983 8.74998 18 8.78349 18 8.81738V18.8174C18 20.4742 16.6569 21.8174 15 21.8174H3ZM9.7071 2.35295L16 8.64585V18.8174C16 19.3697 15.5523 19.8174 15 19.8174H12V14.8174C12 13.1605 10.6569 11.8174 9 11.8174C7.34315 11.8174 6 13.1605 6 14.8174V19.8174H3C2.44772 19.8174 2 19.3697 2 18.8174V8.64592L8.29289 2.35295C8.68341 1.96243 9.31658 1.96243 9.7071 2.35295Z" fill="#686868"/>
                            </svg>
                        </div>
                        <div class="hideMenu_in_Proffil_LCProf_boxp">
                            <p class="hideMenu_in_Proffil_LCProf_p textstule Lang-standart9">Личный кабинет</p>
                        </div>
                    </div>
                    <div class="hideMenu_in_Proffil_box">
                        <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">
                            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="testhange2" fill-rule="evenodd" clip-rule="evenodd" d="M0 3.81738C0 2.16053 1.34315 0.817383 3 0.817383H11C14.866 0.817383 18 3.95139 18 7.81738V17.8174C18 19.4742 16.6569 20.8174 15 20.8174H3C1.34315 20.8174 0 19.4742 0 17.8174V3.81738ZM10 2.81738H3C2.44772 2.81738 2 3.2651 2 3.81738V17.8174C2 18.3697 2.44772 18.8174 3 18.8174H15C15.5523 18.8174 16 18.3697 16 17.8174V7.81738H10V2.81738ZM15.584 5.81738C14.9413 4.34644 13.6113 3.24448 12 2.9174V5.81738H15.584Z" fill="#686868"/>
                            </svg>

                              iv class="hideMenu_in_Proffil_LCProf_boxp">
                            <p class="hideMenu_in_Proffil_LCProf_p textstule Lang-standart10">Подать заявку </p>
                        </div>
                    </div>
                    <div class="hideMenu_in_Proffil_box">
                        <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">
                            <svg width="17" height="24" viewBox="0 0 17 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="testhange2" fill-rule="evenodd" clip-rule="evenodd" d="M10.624 2.70761V3.01066C13.6962 3.91033 15.9365 6.71063 15.9365 10.0258V17.344H16.999V19.4349H-0.000976562V17.344H1.06152V10.0258C1.06152 6.71063 3.30182 3.91033 6.37402 3.01066V2.70761C6.37402 1.55283 7.32542 0.616699 8.49902 0.616699C9.67263 0.616699 10.624 1.55283 10.624 2.70761ZM3.18652 17.344H13.8115V10.0258C13.8115 7.13885 11.433 4.79852 8.49902 4.79852C5.56501 4.79852 3.18652 7.13885 3.18652 10.0258V17.344ZM10.624 21.5258V20.4803H6.37402V21.5258C6.37402 22.6806 7.32542 23.6167 8.49902 23.6167C9.67263 23.6167 10.624 22.6806 10.624 21.5258Z" fill="#686868"/>
                            </svg>
                        </div>
                        <div class="hideMenu_in_Proffil_LCProf_boxp">
                            <p class="hideMenu_in_Proffil_LCProf_p textstule Lang-standart11">Уведомления</p>
                        </div>
                    </div>
                    <div class="footer_boxHR noMargin">
                        <hr class="footer_hr" />
                    </div>
                    <div class="hideMenu_in_Proffil_box" style="display: none;">
                        <div class="hideMenu_in_Proffil_LCProf_boximg hideMenu_in_Proffil_boxIMG">

                            <img src='{% static "mainsite/img/log-in.svg" %}' alt="noIMG" class="hideMenu_in_Proffil_LCProf_img">
                        </div>
                        <div class="hideMenu_in_Proffil_LCProf_boxp">
                            <p class="hideMenu_in_Proffil_LCProf_p textstule Lang-standart12">Выйти</p>
                        </div>
                    </div>

-------------------- кнопка смены темы -------------------------------------
                    <div class="hideMenu_in_Proffil_box_buttHThem" style="display: none;">

                    </div>
                </div>
            </div> -->
        <!-- <div class="buttonsInHeader_box">
                    <div class="buttonsInHeader_box_notifications" id="notifications"></div>
                </div> -->

    </div>
</header>

<body>
    {% block content %} {% endblock %}

</body>
<div class="footer" style="margin-top: 100px;">
    <div class="footer_boxs_1 footer_boxs">
        <div class="main_icon_logo_flexbox">
            <div class="main_icon_logo">
            </div>
            <p class="main_icon_logo_text Lang-standart1">
                Институт Международного образования КАИ
            </p>
        </div>
        <div class="footer_boxs_links_box">
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l1 cursorP"></div>
            </div>
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l2 cursorP"></div>
            </div>
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l3 cursorP"></div>
            </div>
            <div class="footer_boxs_links_box_plot">
                <div class="footer_boxs_links_box_l footer_boxs_links_box_l4 cursorP"></div>
            </div>
        </div>
    </div>

    <div class="footer_boxs_2 footer_boxs">
        <div class="footer_boxs_boxH3">
            <p class="helpText Lang-standart73">Контактная информация</p>
        </div>
        <div class="footer_boxs_textadr">
            <p class="footer_mainText Lang-standart75">г. Казань, ул. Большая Красная, д. 55</p>
        </div>
    </div>
    <div class="footer_boxs_3 footer_boxs">
        <div class="footer_boxs_boxP">
            <p class="helpText Lang-standart76">Телефон приемной комиссии</p>
        </div>
        <div class="footer_boxs_boxH3">
            <h3 class="footer_mainText">+7(843)231-00-27</h3>
        </div>
    </div>
    <div class="footer_boxs_4 footer_boxs">
        <div class="footer_boxs_boxP">
            <p class="helpText Lang-standart7_6">Телефон ИМО</p>
        </div>
        <div class="footer_boxs_boxH3">
            <h3 class="footer_mainText">+7(843)231-01-58</h3>
        </div>
    </div>
    <div class="footer_boxs_5 footer_boxs">
        <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
            <p class="Memo_box_textInf_p nowVW">pk@kai.ru</p>
        </div>
        <div class="Memo_box_textInf_contentTextsALinks_cont cursorP">
            <p class="Memo_box_textInf_p nowVW">international@kai.ru</p>
        </div>
    </div>
    <div class="footer_boxHR marginTOP_70px">
        <hr class="footer_hr" />
    </div>

    <div class="footer_FM">
        <div class="footer_FM1">
            <!-- <div class="footer_FM1_Logo">

                </div> -->
            <div class="footer_FM1_boxp">
                <p class="footer_FM1_p Lang-standart79">© Институт международного образования КНИТУ-КАИ Все права
                    защищены 2022
                </p>
            </div>
        </div>
        <div class="footer_FM2">
            <div class="footer_FM2 link_FM2 cursorN">
                <p class="link_FM2Text Lang-standart80">© КНИТУ-КАИ Все права защищены 2022</p>
            </div>
            <!-- <div class="footer_FM2 link_FM2 cursorP">
                    <p class="link_FM2Text Lang-standart81">Правила использования</p>
                </div>
                <div class="footer_FM2 link_FM2 cursorP">
                    <p class="link_FM2Text Lang-standart82">Помощь</p>
                </div> -->
        </div>
    </div>
</div>
<script src="{% static 'mainsite/js/registration/translate.js' %}">
</script>
<script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}">
</script>
<script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}">
</script>
<script src="{% static 'mainsite/js/registration/hidden_block_leng.js' %}">
</script>

</html>