* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--backgroundColor);
}

:root {
    --hand-cursor-w: pointer;
    --hand-cursor-d: default;
    --hand-cursor-b: url(../home_page/cssimg/cursor_b.svg) 2 2, auto;
    --font-inter: 'Inter';
    --font-inter-Bold: 'Inter Bold';
    --font-averta-cy: 'Averta CY';
    --font-averta-cy-EB: 'Averta CY EB';
    --main-logo: url("../home_page/cssimg/mainICON_1.svg");
    --pointerHand-cursor: pointer;
    --colorText: #000000;
    --backgroundColor: #fff;
    --hiddenHederBlockColorNameOfText: #000;
    --hiddenHederBlockColorText: #595959;
    --hiddenHederBlockColorHr: #F3F3F3;
    --menu_links_box_displayWhere700px: #f7f7f7;
    --hideMenu_in_Proffil: #F3F3F3;
    --buttonsInHeader_box_usButtonHover: #4526FF;
    --ColorTextforProgrammStady: #383838;
    --ColorTextForProgrammStadyPlashca: #fff;
    --bs-white:#FFF;
    --bs-grey:#F2F2F2;
    /* --script:var(--bs-grey); */
    --Profile-list-BackBackground:#fff;
    --Profile-list-changeBackground:#F2F2F2;

}

[data-theme="dark"] {
    --Profile-list-BackBackground:#242730;
    --Profile-list-changeBackground:#14161D;
}
/* $(".:root").css("var(--Profile-list-BackBackground)", "#14161D");
$(".:root").css("var(--Profile-list-BackBackground)", "#242730"); */

@font-face {
    font-family: 'Averta CY';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Averta Cyrillic Regular.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Averta CY EB';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Averta Cyrillic Bold.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Averta CY SB';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Averta Cyrillic SemiBold.otf');
    /*URL to font*/
}

@font-face {
    font-family: 'Inter Bold';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Inter-Bold.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Inter';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Inter-Medium.ttf');
    /*URL to font*/
}

@font-face {
    font-family: 'Inter SemiBold';
    /*a name to be used later*/
    src: url('../home_page/cssstyle/Inter-SemiBold.ttf');
    /*URL to font*/
}

li {
    list-style: none;
    cursor: var(--hand-cursor-w);
}