{% extends 'mainsite/base.html' %}{% block content %} {% load static %}
<div class="form-content" style="padding-top: 150px">
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <label for="id_old_password">Старый пароль:</label>
            <input type="password" name="old_password" autocomplete="current-password" autofocus
                required id="id_old_password" class="form-control">
            <p>{{ form.old_password.errors|striptags }}</p>
            <label for="id_new_password1">Новый пароль:</label>
            <input type="password" name="new_password1" autocomplete="new-password" required
                   id="id_new_password1" class="form-control">
            <p>{{ form.new_password1.errors|striptags }}</p>
            <label for="id_new_password2">Подтверждение нового пароля</label>
            <input type="password" name="new_password2" autocomplete="new-password" required
                   id="id_new_password2" class="form-control">
            <p>{{ form.new_password2.errors|striptags }}</p>
            <div>
                <button class="btnSbmit" type="submit">СМЕНИТЬ ПАРОЛЬ</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}